<h1>Edit {{hostName}}</h1>
<div class="starter-template">
    <table class="table table-condensed table-bordered">
        <tr>
            <th>
               Host
            </th>
            <th>
                Method 
            </th>
            <th>
               Descript 
            </th>
            <th>
                Option
            </th>
        </tr>
        <tr ng-repeat="request in requests">
            <td>
                {{request.Host}} 
            </td>
            <td>
                {{request.Method | httpMethod}} 
            </td>
            <td>
                {{request.Desc}}
            </td>
            <td>
                <button type="button" class="btn btn-default btn-xs" ng-click="run()">Run</button>
                <button type="button" class="btn btn-default btn-xs" ng-click="edit()">Edit</button>
            </td>
        </tr>
     </table>
</div>
